/* ===========================
   GLOBAL STYLE
=========================== */
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

.title {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: #0f5132;
  margin-bottom: 20px;
}

/* ===========================
   CATEGORY BUTTONS
=========================== */
.cat-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.cat-btn {
  padding: 10px 18px;
  border: none;
  background: #d1fae5;
  color: #065f46;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}

.cat-btn:hover {
  background: #10b981;
  color: white;
}

/* ===========================
   MENU GRID
=========================== */
.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

/* ===========================
   MENU CARD
=========================== */
.menu-item {
  background: white;
  padding: 12px;
  border-radius: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.menu-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-item h3 {
  margin: 10px 0 5px;
  font-size: 17px;
  color: #0f5132;
  font-weight: 700;
}

.menu-item p {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #065f46;
  margin-bottom: 10px;
}

.add-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #0f5132;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
}

/* ===========================
   CART BUTTON (FLOATING)
=========================== */
.cart-btn {
  position: fixed;
  right: 15px;
  bottom: 20px;
  background: #0f5132;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;
}
